*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

header{
    background-color: #ffffff;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

#banner{
    width: 1600px;
    height: 674px;
    background: url(../images/hero-bg.png);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 70px;
    padding-bottom: 134px;
}

.banner-content{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 115px;
    padding-bottom: 180px;
    text-align: center;
}

#note{
    margin-top: 25px;
    width: 1600px;
    height: 44px;
    
}

.notes{
    width: 1360;
    height: 116px;
    text-align: center;
}

div .h-note{
    font-size: 48px;
    font-weight: bold;
}

div .p-note{
    font-size: 16px;
}
.s-card{
    width: 1600px;
    height: 50px;
    justify-content: center;
}

.card_container {
  margin-top: 49px;
  width: 322px;
  height: 300px;
  display: flex;
  gap: 60px;
  align-items: center;
}
.cards {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
.img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #F95555;
    display: flex;
}
div .card{
    width: 322px;
    height: 300px;
}
.solution {
  display: flex;
  gap: 60px;
  align-items: center;
  margin: 120px 120px;
}

.solution-right h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 20px;
}
.solution-right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.solution-right li {
  font-size: 16px;
  font-weight: normal;
  color: #7b7c80;
}

.access-btn{
    width: 1360px;
    height: 384px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    margin: 120px 120px;
    background-color: #F7F6F2;
    display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 24;
padding: 80px 40px 80px 40px;
}